@font-face {
  font-family: "iconfont";
  /* Project id 3857378 */
  src: url('../font/iconfont.woff2?t=1673828896260') format('woff2'),
    url('../font/iconfont.woff?t=1673828896260') format('woff'),
    url('../font/iconfont.ttf?t=1673828896260') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-huifu:before {
  content: "\e648";
}

.icon-liulanliang:before {
  content: "\e611";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-dianzan:before {
  content: "\ec7f";
}